.fixed-content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}
.pageTitle{
  position:absolute;
  padding-top: 250px;
  padding-left: 950px;

}
.container{
  display:inline;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.pageForm{
  padding: 1rem;
}

#search {
  width: 500px;
  height: 30px;
}

.homePage {
  
  height: 500px;
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  font-family: "Georgia";
  padding: 10px;
  border: 5px solid gray;
  margin: 10px, 0;
  background-image: url("https://images.unsplash.com/photo-1457796120451-a8dd3a966a85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"); 
  background-repeat: no-repeat;

  background-size: 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: darkgreen;
  text-align: center;
  font-size: 25px;
  padding-top: 200px;
}
.exhibitTitle{
  position:absolute;
  color:black;
  top:550px;
  
}
.img1 {
  position:absolute;
  border-radius: 50%;
  max-height: 300px;
  top:600px;
  right:70px;
  min-width: 200px;
}
.title1 {
  position:absolute;
  top:750px;
  right:145px;
}
.img2 {
  position:absolute;
  border-radius: 50%;
  max-height: 300px;
  top:600px;
  right:440px;
}
.title2 {
  position:absolute;
  top:750px;
  right:530px;
}
.img3 {
  position:absolute;
  border-radius: 50%;
  max-height: 300px;
  top:600px;
  left:70px;
}

.title3 {
  position:absolute;
  top:750px;
  left:165px;
}
.img4 {
  position:absolute;
  border-radius: 50%;
  max-height: 300px;
  top:600px;
  left:440px;
}
.title4 {
  position:absolute;
  top:750px;
  left:520px;
}
.img5 {
  position:absolute;
  border-radius: 50%;
  max-height: 300px;
  top:600px;
  left:800px;
}
.title5 {
  position:absolute;
  top:750px;
  left:860px;
}

.cardq{
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  
} */
.main-menu{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color:green;
  font-size: 15px;
}
.logo{
  
  height: 150px;
  width: 150px;
  position:absolute;
  top:0px;
  right:0px;
}

.homeheader{
  position:absolute;
  text-align: right;
  font-size: 20px;
  padding: 5px 5px;
  color: rgb(6, 5, 5);
  word-spacing: 15px;
}
pageheader{
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ivory;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animalPage {
  text-align: center;
  
}

.animalPageHeader {
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: "Georgia";
  padding: 10px;
  border: 5px solid gray;
  margin: 10px, 0;
  background: seagreen;
}

.card {
  color: black;
  font-family: "Georgia";
}

.cardPic {
  width: 500px;
  height: 500px; 
  background-size: contain;
  padding: 10px;
  margin: 10px;
  border: 5px solid seagreen;
  border-radius: 10px;
}

.primary {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: seagreen;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.adopted {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: yellowgreen;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
